body {
    text-align: center;
    font-family: arial;
}

main {
    max-width: 700px;
    margin: auto;
}

input {
    text-align: center;
    display: block;
    margin: 2% auto;
    padding: 1%;
    background-color: white;
    border: 1px solid black;
    border-radius: none;
}

img {
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

label {
    font-weight: bold;
}

a {
    font-weight: lighter;
}

h2 {
    padding-top: 3%;
}